<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <span class="navbar-brand">🎓 Angular Attendance System</span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navLinks">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navLinks">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button *ngIf="isLoggedIn()" class="btn btn-outline-danger btn-sm" (click)="logout()">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>